section {
  margin: 100px;
}

.box {
  width: 300px;
  height: 300px;
  animation-name: aaa;
  animation-duration: 3s;
  animation-iteration-count: infinite; /*無限次數*/
  animation-direction: alternate; /*反轉*/
  animation-timing-function: linear; /*勻速*/
  background-color: #ffdf76;
}

@keyframes aaa {
  /* 0% {
    transform: rotate(0deg);
    background-color: #ffdf76;
  }
  25% {
    transform: rotate(45deg);
    background-color: #ff7134;
  }
  100% {
    transform: rotate(90deg);
    background-color: #ffc1df;
  } */

  100% {
    margin-left: calc(100% - 300px);
    background-color: #cf7dfe;
  }
}
